<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Добавление новой книги</title>
</head>
<body>
	<form th:method="POST" th:action="@{/books}" th:object="${newBook}">
		<label for="name">Введите название книги:</label> 
		<input type="text" th:field="*{name}" id="name"> 
		<div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
		<br>
		<label for="author">Введите автора:</label> 
		<input type="text" th:field="*{author}" id="author">
		<div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
		<br>
		<label for="yearOfPublication">Введите год:</label> 
		<input type="text" th:field="*{yearOfPublication}" id="yearOfPublication">
		<div style="color: red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}"></div>
		<br>
		<input type="submit" value="Создать"> 
	</form>
</body>
</html>