<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Страница книги</title>
</head>
<body>
    <p th:text="${book.name + ', ' + book.author + ', ' + book.yearOfPublication}"></p>
  	<div th:if="${owner}">
  		<p th:text="'Книга сейчас у ' + ${owner.fullName}"></p>
		<form th:method="PATCH" th:action="@{/books/{id}/reset_owner(id=${book.id})}">
			<input type="submit" value="Освободить книгу">
		</form>
  	</div>
	<div th:if="${people}">
		<p>Эта книга свободна. Кому назначить ее?:</p>
		<form th:method="PATCH" th:action="@{/books/{id}/set_owner(id=${book.id})}">
			<label for="human">Выберите человека</label>
			<select th:object="${human}" th:field="*{id}" id="human">
				<option th:each="human : ${people}" th:value="${human.id}" th:text="${human.fullName}"></option>
			</select>
			<input type="submit" value="Назначить книгу">
		</form>
  	</div>
	<hr>
	<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.id})}">
		<input type="submit" value="Редактировать">
	</form>
	<form th:method="DELETE" th:action="@{/books/{id}(id=${book.id})}">
		<input type="submit" value="Удалить">
	</form>
</body>
</html>